<div class="component-container">
  <h1>Design Your Store!</h1>
  <h2>This is where you can design a store, which will be searchable in BlockShop for any user.</h2>

  <div class="form-container">
    <mat-form-field>
        <input matInput placeholder="Unique Full Store Name" #fullStoreName (keyup)="onFullStoreNameChange(fullStoreName.value)"> 
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Banner text" #storeBannerText (keyup)="onStoreBannerTextChange(storeBannerText.value)">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Etherium Wallet ID" #storeWalletId (keyup)="onStoreWalletIdChange(storeWalletId.value)">
    </mat-form-field>

    <p>Upload 2 poster images you want displayed in your store:</p>
    <input type='file' (change)="onFirstPosterPicChange($event)">    

    <input type='file' (change)="onSecondPosterPicChange($event)">

  </div>

  <h2>Enter products you want to provide in the store (you can add stock, and new products later):</h2>

  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Product Name (must be to unique to THIS STORE only)</th>
        <th>Product Picture (medium sized JPEG for best results)</th>
        <th>Price (ETH)</th> 
        <th>Stock</th>
      </tr>
      <tr *ngFor="let product of store.products">
        <td>
          <input type='text' #productName (keyup)="onProductNameChange(product, productName.value)">
        </td>
        <td>
            <input type='file' (change)="onProductPicChange(product, $event)">
        </td> 
        <td>
          <input type='text' #price (keyup)="onPriceChange(product, price.value)">
        </td>
        <td>
            <input type='text' #stock (keyup)="onStockChange(product, stock.value)">
        </td>
      </tr>
    </table>
</div>

  <p *ngIf="showStoreInvalidMsg" style="color: red">Store invalid, please fix input.</p>
  <button (click)="onSubmitButtonPressed()">I'm finished!</button>
</div>