<h1>Configure your settings!</h1>

<p>Enter your Etherium wallet ID (we will keep this secure):</p>
<input type='text' #walletId (keyup.enter)="onWalletIdEnter(walletId.value)"> 
<p *ngIf="walletIdReceived" class='checkmark' >✓</p>

<p>Enter your shipping address (we will delete this at any time):</p>
<input type='text' #shippingAddress (keyup.enter)="onShippingAddressEnter(shippingAddress.value)"> 
<p *ngIf="shippingAddressReceived" class='checkmark' >✓</p>

<p *ngIf='submitIncorrectlyPressed' class='red'>Please enter your information fully.</p>
<button (click)="onSubmit()">Submit</button>